<form method="post" action="/usuarios/guardar">
  <input type="text" name="nombre" placeholder="ingrese su nombre" /><br />
  <input type="text" name="apell" placeholder="ingrese su apellido" /><br />
  <input type="email" name="email" placeholder="ingrese su direccion de e-mail" /><br />
  <input type="password" name="clave" placeholder="ingrese su password" /><br />
  <input type="submit" value="Enviar" /><br />
</form>
