<a href="/usuarios/creartabla">crear almacenamiento para usuarios</a><br />
<a href="/usuarios/alta">crear usuario</a><br />
<a href="/usuarios/modificar">modificar usuario</a><br />
<a href="/usuarios/verlistado">ver usuarios</a><br />
<a href="/usuarios/consultausuarios">consulta por apellido de usuario</a><br />
