<table border="1">
  <tr>
    <td>
      Nombre
    </td>
    <td>
      Apellido
    </td>
    <td>
      E-mail
    </td>
  </tr>
  {{#each usuarios}}
  <tr>
    <td>
      {{nombre}}
    </td>
    <td>
      {{apell}}
    </td>
    <td>
      {{email}}
    </td>
  </tr>
  {{/each}}
</table>
<a href="/">Volver</a>
