<form method="post" action="/usuarios/update">
  <input type="text" name="nombre" placeholder="ingrese su nombre" value="{{usuario.nombre}}" /><br />
  <input type="text" name="apell" placeholder="ingrese su apellido" value="{{usuario.apell}}" /><br />
  <input type="email" name="email" placeholder="ingrese su direccion de e-mail" value="{{usuario.email}}" /><br />
  <input type="password" name="clave" placeholder="ingrese su password" value="{{usuario.clave}}" /><br />
  <input type="submit" value="Actualizar" />&nbsp;&nbsp;&nbsp;<a href="/">Volver</a><br />
</form>
